.user-top-bar
  .user-top-bar__top-one
    .user-top-bar__top-one__title
    .user-top-bar__top-one__search
      .user-top-bar__top-one__search__search-zoon
      .user-top-bar__top-one__search__search-icon
  .user-top-bar__top-two
    .user-top-bar__top-two__category
    .user-top-bar__top-two__brand
    .user-top-bar__top-two__like
    .user-top-bar__top-two__notice
    .user-top-bar__top-two__todo
    .user-top-bar__top-two__mypage
  .user-top-bar__top-three
    .user-top-bar__top-three__mercari
    .user-top-bar__top-three__dainari
    .user-top-bar__top-three__name

