.top-bar
  = render 'layouts/header'

.main-screen
  .main-screen__name
    test
  .main-screen__icon
    = image_tag 'icon/member_photo_noimage_thumb.png',size: '200x200',alt: 'ロゴです'
  .main-screen__evaluation-exhibition
    .main-screen__evaluation-exhibition__evalustion
      評価
    .main-screen__evaluation-exhibition__exhibition
      出品数

.botton
  = render 'layouts/exhibition'

.botton-bar
  = render 'layouts/footer'

