.top-bar
  .top-bar__text
.bottom-bar
  .bottom-bar__one
    .bottom-bar__one__text
  .bottom-bar__two
    .bottom-bar__two__information
      .bottom-bar__two__information__icon
      .bottom-bar__two__information__number
      .bottom-bar__two__information__date
    .botton-bar__two__delete
