//ここからヘッダー
* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.HeaderInner {
  height: 100px;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  &__Main {
    height: 50%;
    display: flex;
  }

  &__SearchBox {
    width: 100%;
  }

  &__Nav {
    height: 50%;
    
    position: absolute;
    display: flex;
    justify-content: space-between;
  }

  &__Left {
    width: 40%;
    padding-left: 0;
    display: flex;
    &--first,&--second {
      text-decoration: none;
      color:#333;
      select {
        width: 100%;
        padding-right: 1em;
        padding-left: 10px;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        border: none;
        height: 50px;
        border-radius: 4px;
        outline: none;
        background: transparent;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
      }
    }
    &--second:hover {
      color: orange;
      transition: all .3s ease;
    }

  }

  &__Right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    &--first,&--second {
      text-decoration: none;
      color:#333;
    }
    &--first:hover,&--second:hover {
      color: orange;
      transition: all .3s ease;
    }
  }

  &__List {
    height: 500px;
    width: 200px;
    padding-top: 10px;
    list-style: none;
    font-size: 14px;
    
    &--MarginFix {
      margin-left: 30px;
    }
  }

  &__Input {
    height: 40px;
    display: flex;
    justify-content: center;

  }

  &__TextField {
    width: 100%;
    height: 90%;
    margin-left: 30px;
    border-radius: 2px;
    box-shadow: none;
    padding: 1px 8px;
    border: solid 1px gray;
  }

  &__Btn {
    width: 40px;
    height: 36px;
    border: none ;
    border-radius: 2px;
    background-color:#3CCACE;
  }
  &__Default {
    margin-bottom: 5ppx;
    height: 30px;
    &--style {
      text-decoration: none;
      color:black;
      padding-left: 15px;
    }

  }
  &__CategoryBox {
    height: 500px;
    width: 700px;
    display: flex;
    // background-color: orange;
      &--parents {
        width: 30%;
        // background: orange;
      }
      &--children {
        width: 30%;
        // background:green;
      }
      &--grandchildren {
        width: 40%;
        // background:pink;
      }
  }
  
  &__Block {
    background-color:#fff;
    height: 40px;
    padding-left: 5px;
    width: 100%;
  }
  &__Parent_name {
    height: 30px;
    width: 200px;
  }

  }

@media screen and (max-width: 767px) {
  .HeaderInner {
    &__Right,&__Left {
      &--first,&--second {
        font-size: 13px;
      }
    }
  }
}
