* {
  box-sizing: border-box;

  .user-top-bar {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__top-one {
      height: 40px;
      width: 100%;
      display: flex;

      &__title {
        height: 40px;
        width: 120px;
        margin-left: 160px;
        background-color: blue;
      }

      &__search {
        height: 40px;
        width: calc(100% - 120px);
        display: flex;

        &__search-zoon {
          height: 40px;
          width: calc(100% - 50px);
          display: flex;
          margin-left: 60px;
          background-color: burlywood;
        }

        &__search-icon {
          height: 40px;
          width: 50px;
          margin-right: 160px;
          background-color: chartreuse;
        }
      }
    }

    &__top-two {
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__category {
        height: 40px;
        width: 100px;
        margin-left: 160px;
        background-color: brown;
      }

      &__brand {
        height: 40px;
        width: 100px;
        background-color: coral;
      }

      &__like {
        height: 40px;
        width: 100px;
        background-color: cyan;
      }

      &__notice {
        height: 40px;
        width: 100px;
        background-color: darkgray;
      }

      &__todo {
        height: 40px;
        width: 100px;
        background-color: darkgreen;
      }

      &__mypage {
        height: 40px;
        width: 100px;
        margin-right: 160px;
        background-color: darkred;
      }
    }

    &__top-three {
      height: 40px;
      width: 100%;
      display: flex;

      &__mercari {
        height: 40px;
        width: 100px;
        margin-left: 160px;
      }

      &__dainari {
        height: 40px;
        width: 100%;
      }
    }
  }
}
