.top-bar
  
.second-bar
  .second-bar__one
    .second-bar__one__number
      .second-bar__one__number__text-required
        .second-bar__one__number__text-required__text
        .second-bar__one__number__text-required__required
      .second-bar__one__number__number-room
        .second-bar__one__number__number-room__text
    .second-bar__one__icon
      .second-bar__one__icon__one
      .second-bar__one__icon__two
      .second-bar__one__icon__three
  .second-bar__two
    .second-bar__two__text-required
      .second-bar__two__text-required__text
      .second-bar__two__text-required__required
    .second-bar__two__month-yaer
      .second-bar__two__month-yaer__month
      .second-bar__two__month-yaer____text
      .second-bar__two__month-yaer__yaer
      .second-bar__two__month-yaer__text
  .second-bar__three
    .second-bar__three__text-required
      .second-bar__three__text-required__text
      .second-bar__three__text-required__required
    .second-bar__three__security
      .second-bar__three__security__text
  .second-bar__register
    .second-bar__register__text
