.top-bar
  = render 'layouts/header'
.main-show-view
  .main-show-view__item-name
    .main-show-view__item-name__name-zoon
      商品名
  .main-show-view__image-information
    .main-show-view__image-information__image
    .main-show-view__image-information__information
      .main-show-view__image-information__information__seller
        売人
      .main-show-view__image-information__information__category
        カテゴリー
      .main-show-view__image-information__information__brand
        ブランド
      .main-show-view__image-information__information__status
        状態
      .main-show-view__image-information__information__delivery-burden
        配送料の負担
      .main-show-view__image-information__information__delivery-method
        配送の方法
      .main-show-view__image-information__information__area
        配送元地域
      .main-show-view__image-information__information__standard
        配送日の目安
  .main-show-view__comment-exc
    .main-show-view__comment-exc__price-tax
      .main-show-view__comment-exc__price-tax__price
        1,200円
      .main-show-view__comment-exc__price-tax__tax
        税込み、送料込み
    .main-show-view__comment-exc__button
      購入画面に進む
    .main-show-view__comment-exc__comment
      いい商品ですね！
= render 'layouts/exhibition'