.top-bar
  = render 'layouts/header'

.Main
  .main-show-view
    .main-show-view__item-name
      .main-show-view__item-name__name-zoon
        商品名
    .main-show-view__image-information
      .main-show-view__image-information__image
      .main-show-view__image-information__information
        %table{:border => "1"}
          %tbody
            %tr
              %th 出品者
              %td= link_to '出品者名', '/'
            %tr
              %th カテゴリー
              %td= link_to 'メンズ', '/'
            %tr
              %th ブランド
              %td シャネル
            %tr
              %th 商品の状態
              %td 新品、未使用
            %tr
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %th 配送日元地域
              %td 東京都
            %tr
              %th 配送日の目安
              %td 1~2日で発送
        -# .main-show-view__image-information__information__category
        -#   カテゴリー
        -# .main-show-view__image-information__information__brand
        -#   ブランド
        -# .main-show-view__image-information__information__status
        -#   状態
        -# .main-show-view__image-information__information__delivery-burden
        -#   配送料の負担
        -# .main-show-view__image-information__information__delivery-method
        -#   配送の方法
        -# .main-show-view__image-information__information__area
        -#   配送元地域
        -# .main-show-view__image-information__information__standard
        -#   配送日の目安
    .main-show-view__comment-exc
      .main-show-view__comment-exc__price-tax
        .main-show-view__comment-exc__price-tax__price
          1,200円
        .main-show-view__comment-exc__price-tax__tax
          (税込)　送料込み
      .main-show-view__comment-exc__comment
        商品説明文
    -# .main-show-view__comment-exc__button
    -#   購入画面に進む
    -# .main-show-view__comment-exc__comment
    -#   商品説明

-# ログインしていてかつ、自分が出品した商品の場合
-# - if user_signed_in? && current_user.id == @item.user_id
.Change
  .Change__button
    .Change__button__edit
      -# = link_to '商品の編集', edit_item_path(@item), class:"edit-btn"
    .Chage__button__destroy
      = link_to "この商品を削除する", item_path(item.id), method: delete, class: 'destroy-btn'
  .Change__under-bar
    =render 'layouts/footer'

-# - elsif user_signed_in? && current_user.id != item.user_id
-#   .Buy
-#     .Buy__button
-#       = form_with url: "#" do |form|
-#         = form.submit '購入画面に進む', class:"Buy-btn"
-#     .Buy__under-bar
-#       =render 'layouts/footer'

-# - else
-#   .Login
-#     .Login__sign
-#       .Login__sign--up
-#         = form_with url: "/users/sign_in" do |form|
-#           = form.submit '新規会員登録をして購入画面に進む', class:"Sign-up-btn"
-#       .Login__sign--in
-#         = form_with url: "/users/sign_up" do |form|
-#           = form.submit 'ログインをして購入画面に進む', class:"Sign-in-btn"
-#     .Login__under-bar
-#       =render 'layouts/footer'

-# 自分の商品でもログインしていない、または他人が出品している商品の場合
-# = render 'layouts/exhibition'
-# .main-show-view__comment-exc__button
  購入画面に進む
-# .main-show-view__comment-exc__comment
  商品説明


