.error {
  // text-align: center;
  margin-bottom: 20px;
  
  &__title {
    text-align: center; 
    background-color: rgb(238, 153, 153);
  }
  &__list {
    padding-left: 200px;
    background-color: antiquewhite;
  }
  &__coution {
    // background-color: antiquewhite;
    font-size: small;
  }

}
