* {
  box-sizing: border-box;
}

.CommonFooter {
  height: 350px;
  padding: 60px 0;
  background-color: rgb(126, 120, 120);

  &__Contents {
    height: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
    // background-color: goldenrod;
  }
  &__Content {
    width: 20%;
    margin-right: 20px;
    // background-color: green;
  }
  &__Logo {
    height: 40%;
    margin-right: 20px;
    margin: 0 auto;
    text-align: center;

  &__Copyright {
    // font-size: 30px;

  }
}

}
