//ここからフッター
* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.CommonFooter {
  height: 350px;
  padding: 60px 0;
  background-color: #272727;

  &__Contents {
    height: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  &__Content {
    width: 40%;
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
  }

  &__ContentHead {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  &__Lists {
    list-style: none;
    height: 80%;

  }
  &__List {
    list-style: none;
    height: 32px;
  }

  &__list {
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    color: #fff;
    &:hover { 
      color:orange; 
      transition: all .3s ease;
    }
  }
  &__Logo {
    height: 30%;
    width: 160px;
    margin-right: 20px;
    margin: 0 auto;
    text-align: center;
  }

  &__Copyright {
    color: #fff;
    font-size: 14px;
  }
}