.Credit-background {
  height: 100vh;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.Credit-header {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.Credit-contents {
  background-color: rgb(255, 255, 255);
  text-align: center;
  max-width: 700px;
  margin: 0px auto;
  &__integer {
    padding: 32px 16px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid rgb(245, 245, 245);
  }
}

.number {
  width: 400px;
  height: 48px;
  text-align: left;
  padding: 0 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.select-default {
  width: 160px;
  height: 48px;
  text-align: left;
  padding: 0 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.select-default2 {
  width: 160px;
  height: 48px;
  text-align: left;
  padding: 0 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.cvc {
  width: 400px;
  height: 48px;
  text-align: left;
  padding: 0 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group_label {
  font-weight: bold;
  font-size: 14px;
}

.essential {
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;
  background-color: #ff0211;
  color: #fff;
  border-radius: 2px;
  padding: 2px;
}

.birth-group {
  width: 400px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.birth-group__month-string {
  margin: 5px;
}

.birth-group__year-string {
  margin: 5px;
}

.registration-btn {
  background-color: #ea352d;
  color: #fff;
  width: 400px;
  height: 48px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 50px;
  margin-bottom: 80px;
}

.form-group.form-group_text {
  margin-top: 28px;
}


// ここからはクレジット削除のcss
.card-group {
  background-color: rgb(255, 255, 255);
  text-align: center;
  max-width: 700px;
  margin: 0px auto;
  &__title {
    font-size: 14px;
    font-weight: bold;
    padding: 32px 16px;
    border-bottom: 1px solid rgb(245, 245, 245);
  }
  &__contents {
    width: 300px;
    margin: 0px auto;
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
  }
}

.btn_delate {
  background-color: initial;
  border: 1px solid rgb(234, 53, 45);
  border-radius: 4px;
  color: rgb(234, 53, 45);
  font-weight: bold;
  padding: 6px 12px;
}