// ボタンの修正等細かいところは後ほどやります
.Main {
  box-sizing: border-box;
  overflow: scroll;
  background-color: rgb(245, 245, 245);
  padding-top: 40px;
}
.main-show-view {
  box-sizing: border-box;
  background-color: #fff;
  margin: auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 24px 40px 40px;
  margin-bottom: 24px;
  &__item-name {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    &__name-zoon {
      height: 50px;
      width: 200px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
  }
  &__image-information {
    width: 100%;
    display: flex;
    justify-content: space-around;
    &__image {
      float: left;
      max-width: 300px;
      min-height: 375px;
      background-color: #fafafa;
      position: relative;
      .Status {
        width: 0;
        height: 0;
        border-top: 60px solid #ea352d;
        border-right: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 60px solid #ea352d;
        position: absolute;
        &__inner {
          transform: rotate(-45deg);
          font-size: 28px;
          margin: -35px 0px 0px -55px;
          color: #fff;
          letter-spacing: 2px;
          font-weight: 600;
        }
      }
      img {
        max-width: 300px;
      }
      ul {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        li {
          margin: 0 10px 0 0;
          img {
            object-fit: cover;
          }
        }
      }
    }
    &__information {
      height: 420px;
      max-width: 300px;
      float: right;
      margin: 0 auto;
      border: 1px solid #f5f5f5;
      border-collapse: collapse;
      &__seller {
        height: 37.5px;
        width: 400px;
      }
      &__category {
        height: 37.5px;
        width: 400px;
      }
      &__brand {
        height: 37.5px;
        width: 400px;
      }
      &__ststus {
        height: 37.5px;
        width: 400px;
      }
      &__delivery-burden {
        height: 37.5px;
        width: 400px;
      }
      &__delivery-method {
        height: 37.5px;
        width: 400px;
      }
      &__area {
        height: 37.5px;
        width: 400px;
      }
      &__standard {
        height: 37.5px;
      }
    }
  }
  &__comment-exc {
    &__price-tax {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__price {
        margin-top: 24px;
        font-size: 50px;
        font-weight: bold;
      }
      &__tax {
        font-size: 16px;
        margin-top: 44px;
        margin-left: 5%;
      }
    }
    &__button {
      height: 100px;
      width: 400px;
      font-size: 50px;
    }
    &__comment {
      white-space: pre-wrap;
    }
  }
}
th {
  width: 39%;
  text-align: left;
  background: #fafafa;
}
td {
  width: 61%;
  background: #fff;
}
table {
  height: 420px;
  max-width: 300px;
  float: right;
  margin: 0 auto;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
}
a {
  text-decoration: none;
  color: #0099e8;
}
.Soldout {
  overflow: scroll;
  width: 700px;
  padding: 30px 8px 30px 8px;
  text-align: center;
  background-color: #fff;
  margin: auto;
}
//  ログインしていてかつ、自分が出品した商品の場合
.Change {
  box-sizing: border-box;
  width: 100vw;
  background-color: rgb(245, 245, 245);
  &__button {
    overflow: scroll;
    width: 700px;
    padding: 30px 8px 30px 8px;
    text-align: center;
    background-color: #fff;
    margin: auto;
  }
  &__under-bar {
    margin-top: 10px;
    &__edit {
      padding-bottom: 50px;
      margin: auto;
    }
    &__destroy {
      margin: auto;
    }
  }
}
.edit-btn {
  border: 1px solid #3ccace;
  background-color: #3ccace;
  color: #fff;
  font-size: 14px;
  width: 670px;
  height: 60px;
  border-radius: 4px;
}
.destroy-btn {
  border: 1px solid #aaa;
  background-color: #aaa;
  color: #fff;
  font-size: 14px;
  width: 670px;
  height: 60px;
  border-radius: 4px;
  margin-top: 16px;
}
// ログインしていてかつ他人が出品した商品
.Buy {
  box-sizing: border-box;
  width: 100vw;
  background-color: rgb(245, 245, 245);
  &__button {
    overflow: scroll;
    width: 700px;
    padding: 30px 8px 30px 8px;
    text-align: center;
    background-color: #fff;
    margin: auto;
  }
  &__under-bar {
    margin-top: 10px;
  }
}
.Buy-btn {
  border: 1px solid #3ccace;
  background-color: #3ccace;
  color: #fff;
  font-size: 14px;
  width: 670px;
  height: 60px;
  border-radius: 4px;
}

.Login {
  box-sizing: border-box;
  width: 100vw;
  background-color: rgb(245, 245, 245);
  &__sign {
    overflow: scroll;
    width: 700px;
    padding: 30px 8px 30px 8px;
    text-align: center;
    background-color: #fff;
    margin: auto;
  }
  &__under-bar {
    margin-top: 10px;
  }
}
.Sign-up-btn {
  border: 1px solid #3ccace;
  background-color: #3ccace;
  color: #fff;
  font-size: 14px;
  width: 670px;
  height: 60px;
  border-radius: 4px;
}
.Sign-in-btn {
  border: 1px solid #aaa;
  background-color: #3ccace;
  color: #fff;
  font-size: 14px;
  width: 670px;
  height: 60px;
  border-radius: 4px;
  margin-top: 16px;
}
