.Main-screen {
  width: 100%;
  background-color: rgb(245, 245, 245);
  overflow: scroll;
  box-sizing: border-box;
  &__profile {
    height: 300px;
    width: 700px;
    margin: 40px auto;
    background-image: image-url(pict/users-icon-background);
    position: relative;
    &__icon {
      position: absolute;
      width: 180px;
      height: 180px;
      margin: 0px auto;
      left: 265px;
      top: 45px;
      font-size: 180px;
      color: #3CCACE;
      &__user-name {
        font-size: 18px;
        text-align: center;
      }
    }
  }
  &__contents {
    width: 700px;
    background-color: #fff;
    margin: auto;
    &__media {
      text-align: center;
      font-size: 45px;
      text-decoration: none;
      padding-top: 15px;
    }
    &__details{
      display: flex;
      justify-content: space-around;
      font-size: 14px;
      &__credit {
        width: 350px;
        text-align: center;
        &--registration {
          padding: 16px;
        }
        &--delete {
          border-top: 1px solid #eee;
          padding: 16px;
        }
      }
      &__account {
        width: 350px;
        text-align: center;
        &--parsonal-info {
          padding: 16px;
        }
        &--logout {
          border-top: 1px solid #eee;
          padding: 16px;
        }
      }
    }
    &__items-box {
      &__head {
        font-size: 22px;
        font-weight: bold;
        padding: 24px 0 8px;
      }
    }
  }
}

.Facebook-btn {
  color: #4949be;
  text-decoration: none;
}

.Twitter-btn {
  text-decoration: none;
}

.Line-btn {
  color: rgb(66, 204, 66);
}

.card-regis {
  text-decoration: none;
  color: #333;
}

.card-delete {
  text-decoration: none;
  color: #333;
}

.info-change {
  text-decoration: none;
  color: #333;
}

.logout-btn {
  text-decoration: none;
  color: #333;
}

.User-icon {
  font-size: 40px;
}

.User-nickname {
  color: #333;
  text-decoration: none;
}