.Main-screen {
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  background-color: rgb(245, 245, 245);
  overflow: scroll;
  box-sizing: border-box;
  &__profile {
    height: 300px;
    width: 700px;
    margin: 40px auto;
    background-image: url(pict/users-icon-background.jpg);
  }
  &__contents {
    width: 700px;
    background-color: #fff;
    margin: auto;
    &__media {
      text-align: center;
      font-size: 45px;
      text-decoration: none;
    }
    .Main-screen__contents__cedit {
      text-decoration: none;
    }
    .Main-screen__contents__details {
      
    }
  }
}

.Facebook-btn {
  color: #4949be;
  text-decoration: none;
}

.Twitter-btn {
  text-decoration: none;
}

.Line-btn {
  color: rgb(66, 204, 66);
}

li {
  border-top: 1px solid #eee;
  text-decoration: none;
}