.Main-screen {
  width: 100%;
  background-color: rgb(245, 245, 245);
  overflow: scroll;
  box-sizing: border-box;
  &__profile {
    height: 300px;
    width: 700px;
    margin: 40px auto;
    background-image: image-url(pict/users-icon-background);
    position: relative;
    &__icon {
      position: absolute;
      width: 180px;
      height: 180px;
      margin: 0px auto;
      left: 265px;
      top: 45px;
      font-size: 180px;
      color: #3CCACE;
      &__user-name {
        font-size: 18px;
        text-align: center;
      }
    }
  }
  &__contents {
    width: 700px;
    background-color: #fff;
    margin: auto;
    &__media {
      text-align: center;
      font-size: 45px;
      text-decoration: none;
      padding-top: 15px;
    }
    &__details{
      display: flex;
      justify-content: space-around;
      font-size: 14px;
      &__credit {
        width: 350px;
        text-align: center;
        &--registration {
          padding: 16px;
        }
      }
      &__account {
        width: 350px;
        text-align: center;
        &--logout {
          border-top: 1px solid #eee;
          padding: 16px;
        }
      }
    }
    &__items-box {
      &__head {
        font-size: 22px;
        font-weight: bold;
        padding: 24px 0 8px;
      }
    }
  }
}

.Facebook-btn {
  color: #4949be;
  text-decoration: none;
}

.Twitter-btn {
  text-decoration: none;
}

.Line-btn {
  color: rgb(66, 204, 66);
}

.card-regis {
  text-decoration: none;
  color: #333;
}

.card-delete {
  text-decoration: none;
  color: #333;
}

.info-change {
  text-decoration: none;
  color: #333;
}

.logout-btn {
  text-decoration: none;
  color: #333;
}

.User-icon {
  font-size: 40px;
}

.User-nickname {
  color: #333;
  text-decoration: none;
}


.Pictures-list {
  margin: 26px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &__items {
    width: 220px;
    display: inline-block;
    position: relative;
    &__status {
      width: 0;
      height: 0;
      border-top: 60px solid #ea352d;
      border-right: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-left: 60px solid #ea352d;
      position: absolute;
      &__inner {
        transform: rotate(-45deg);
        font-size: 28px;
        margin: -35px 0px 0px -55px;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 600;
      }
    }
    &__link {
      background-color: #fff;
      display: inline-block;
      text-decoration: none;

      &__picture {
        width: 220px;
        height: 220px;
        margin: 0;

        img {
          width: 220px;
          height: 220px;
          object-fit: cover;
        }
      }
      &__texts {
        background-color: white;
        color: #333;
        padding: 16px;
        .pict-name {
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        .pict-detail {
          font-size: 16px;
          ul {
            justify-content: space-between;
          }
          p {
            font-size: 10px;
            text-align: left;
          }
        }
      }
    }
  }
}